<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        display: flex;
    }
    button{
        border-radius: 5px;
    }
</style>
<body>
    <div>
        <h1>À propos du produit</h1>

        <h2>{{ produit.nom }}</h2>
        
        <p><b>Description :</b> {{ produit.description }}</p>
        
        <p><b>Prix :</b> {{ produit.prix }} Ar</p>
        
        <p><b>Réactions :</b> {{ produit.reactions }}</p>
        
    
    <br><br>
    <a href="/index"><button>Retour</button></a>
    </div>
</body>
</html>